<!DOCTYPE html>
<html>
	<head>
		<title>Stocker</title>
		<link rel="stylesheet" type="text/css" href="/app.css">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Exo:wght@300;600;700&family=Lato:wght@300;400&display=swap" rel="stylesheet">
		
		<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	</head>
	<body>
		
	<nav class="navbar navbar-expand-lg navbar-dark navbar-fixed-top">
		<div class="container">
			<a class="navbar-brand" href="/">
				<i class="fas fa-comments-dollar"></i>
			  Stocker
			</a>
		</div>
	</nav>
		
    <section id="header" class="jumbotron bg-dark text-white text-center">
      	<h1 class="display-3" id="brand">Stocker</h1>
      	<!-- <p class="lead">Welcome to StockTweet!</p> -->
      	<%- include("searchbox") %>
    </section>