	<div class="container text-center">
			<p>
			Search a ticker on Twitter!
			</p>
				<form action="/search" method="POST">
					<div class="form-row justify-content-center  searchform">
					 	<input type="text" name="ticker" placeholder="stock ticker" required>
					 	<button class="btn btn-primary" type="submit">Search</button>
					 </div>
				</form>
	</div>